<nav class="navbar navbar-expand navbar-dark nav-wrapper">
    <a class="navbar-brand nav-item-wrapper ml-4" (click)="reloadApp()">Web Shop Example</a>
    <ul class="navbar-nav ml-auto">
        <li class="nav-item icon-wrapper mr-4" (click)="goToShoppingCart()">
            <i [ngClass]="(getNumOfItemsInCart() > 0) ? 'bi bi-cart-fill' : 'bi bi-cart'">
                <span class="item-count" *ngIf="getNumOfItemsInCart() > 0">{{ getNumOfItemsInCart() }}</span>
            </i>
        </li>
        <li class="nav-item nav-item-wrapper mr-2 nav-link" *ngIf="authUser == null" (click)="login()">
            Login
        </li>
        <li class="nav-item nav-item-wrapper mr-2 nav-link" *ngIf="authUser != null">
            {{ authUser?.username }}
        </li>
        <li class="btn-group nav-item icon-wrapper icon-wrapper mr-4 " ngbDropdown role="group"
            *ngIf="authUser != null">
            <i class="bi bi-person-circle" ngbDropdownToggle></i>
            <div class="dropdown-menu dropdown-menu-right" ngbDropdownMenu>
                <button ngbDropdownItem (click)="logout()">Logout</button>
            </div>
        </li>
    </ul>
</nav>