/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';

@import "~bootstrap-icons/font/bootstrap-icons.css";

html, body {
    height: 100%;
}

.img-wrapper {
    width: 100%;
    height: 100%;
}