<div class="card" [hidden]="!product">
    <div class="card-img-top product-img">
        <img *ngIf="product?.imageUrl" class="img-wrapper" [src]="product.imageUrl" />
    </div>
    <div class="card-body">
        <div class="row">
            <h5 class="card-title col-sm ml-4">
                {{ product?.name }}
            </h5>
            <h3 class="product-price col-sm  mr-4">
                {{ product?.price }} $
            </h3>
        </div>
        <div class="row ml-4 mr-4 mt-2">
            Description:
        </div>
        <div class="row ml-4 mr-4 text-wrap text-break">
            {{ product?.description }}
        </div>
    </div>
    <div class="card-footer">
        <button type="button" class="btn btn-dark w-100 h-20" (click)="addToCart()">
            <h5>
                Add to Cart
            </h5>
        </button>
    </div>
</div>

<div class="row h-100" [hidden]="product">
    <div class="m-auto"></div>
    <h5>
        Product was not found
    </h5>
</div>